.CreatePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
}

.CreatePost form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;
  padding-inline: 50px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.pictureWrapper {
  margin: 0 5px;
  width: 25%;
}

.pictureWrapper input {
  display: none;
}

.CreatePost .pictureWrapper label {
  display: inline-block;
  background-color: var(--dark-blue);
  padding: 10px 20px;
  color: var(--white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.pictureWrapper label:hover {
  background-color: var(--red);
  box-shadow: 0 0 10px 5px #10101031;
}

.CreatePost form input[type="text"] {
  border: 1px solid var(--dark-blue);
  /* margin-inline: 5px; */
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.CreatePost form input[type="submit"] {
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px 5px #10101031;
  cursor: pointer;
  font-size: 20px;
}

.CreatePost input[type="submit"]:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

form input[type="text"]:is(:hover, :focus) {
  box-shadow: 0 0 10px 5px #10101031;
}
